@model IQueryable<DAL.Web.Site.Models.News>

    <ul class="news">
        @foreach (var item in Model)
        {
            <li>
                <strong>@Html.DisplayFor((modelItem => item.CurrentDate))</strong>
                <h4><a href="#">@Html.DisplayFor(modelItem => item.Header)</a></h4>
                @Html.DisplayFor(modelItem => item.Content)
            </li>
        }
    </ul>


    <!--
    <h2>Fresh <span>News</span></h2>
    <ul class="news">
        <li>
            <strong>June 30, 2010</strong>
            <h4><a href="#">Sed ut perspiciatis unde</a></h4>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
        </li>
        <li>
            <strong>June 14, 2010</strong>
            <h4><a href="#">Neque porro quisquam est</a></h4>
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit consequuntur magni.
        </li>
        <li>
            <strong>May 29, 2010</strong>
            <h4><a href="#">Minima veniam, quis nostrum</a></h4>
            Uis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae.
        </li>
    </ul>-->
