@model IQueryable<DAL.Web.Site.Models.News> 
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>News</h2>
<ul>
    @{
        if (Model.Count() == 0)
        {
            <li>Новых новостей нет</li>
        }
        else
        {
        foreach (var item in Model)
            {
        <li>@item.Content</li>
        <li>@item.imgPath</li>
        <li>@item.CurrentDate</li>
                }
            }
        }
</ul>