@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional INFORMATION</p>
    <h2>Тут должна быть карта</h2>
    <div>
        <div class="aboutYandexmap">
            <p>
                <h3>Где мы находимся:</h3>
            </p>
            <script type="text/javascript"
                    charset="utf-8"
                    async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A109c88d4c0923fa80bfd80afee742f9fa512a7b1ef417c40e1599efe30099fbd&amp;width=400&amp;height=300&amp;lang=ru_RU&amp;scroll=true">
            </script>
        </div>

        <div class="alert-info">
            <h3>Контакты</h3>

            <div class="alert-info">
                <p>
                    <strong>Адрес:&nbsp;</strong>г. Севастополь,<br>ул. Университетская, 33<br />
                </p>
            </div>
        </div>
    </div>
    </body>
