@model IEnumerable<DAL.Web.Site.Models.News>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<body>
   <!-- <div id="banner">
        <h2>Professional <span>Online Education <span>Since 1992</span></span></h2>
    </div>-->
   
                       
                    <h2>@ViewRes.Resource.CourseWorkSite</h2>
                    <div class="img-box"><img src="images/1page-img.jpg">@ViewRes.Resource.IndexFixedArticle </div>   
</body>
