@model IEnumerable<DAL.Models.Teacher>

@{
    ViewBag.Title = "TeachersView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
   
    <h2>Сотрудники кафедры</h2>

    <br />
    <br />
    <br />
    <br />
    <div class="row">
        @foreach (var item in Model)
        {
            
                var fio = item.FIO.Split(' ');
                string middlename = "", lastname = "";
                if (fio.Length == 2) { middlename = fio[1]; }
                if (fio.Length == 3) { lastname = fio[2]; }
            
            <div>
                <div>
                    <span id="staff29" style="float: left; margin-left: 30px">
                        <div id="staff">
                            <div id="photo">
                                <a href="/Home/GetTeacher?id=@item.Id">
                                    <img src="item.imgPath" width="80" height="100" border="0"
                                         alt=@item.FIO>
                                </a>
                            </div>
                            <div id="text">
                                <table>
                                    <tr id="a">
                                        <td>
                                            <a href="/Home/GetTeacher?id=@item.Id">@fio[0]<br>@middlename<br>@lastname</a>
                                            <p style="padding-top: 3px; font-size: 8pt"><i>@item.Degree</i></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </span>
                </div>
            </div>



         }
    </div>
</body>
