
@{
    ViewBag.Title = "TimeTableView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DAL.Models.Schedule>
<body>
    <h2>Расписание кафедры групп кафедры ИС</h2>
    <br/>
    
    <table class="table table-bordered text-center" id="timetable" style="table-layout: fixed;">
        <thead>
            <tr>
                <th class="text-center" style="width: 14%">Время </th>
                <th class="text-center" style="width: 14%">Понедельник </th>
                <th class="text-center" style="width: 14%">Вторник </th>
                <th class="text-center" style="width: 14%">Среда</th>
                <th class="text-center" style="width: 14%">Четверг</th>
                <th class="text-center" style="width: 14%">Пятница</th>
                <th class="text-center" style="width: 14%">Суббота</th>
            </tr>
        </thead>
@{
    var select = Model.Select(s=>s.Group.Group_Name).Distinct().ToList();
    for (int i=0; i< select.Count(); i++)
    {
        <tr>
            <th>@Ajax.ActionLink(select[i], "GetSchedules", new { group = select[i] },
               new AjaxOptions
               {
                   UpdateTargetId = "tableBody",
                   Url = Url.Action("GetSchedules", new { group = select[i] })
               })
            </th>
        </tr>
        }
    }
        <tbody id="tableBody">

           
          
            @*<tr>
                <th class="text-center">11.50 - 13.20 </th>
                <th class="text-center" name="lesson" day="1" lesson="3"></th>
                <th class="text-center" name="lesson" day="2" lesson="3"></th>
                <th class="text-center" name="lesson" day="3" lesson="3"></th>
                <th class="text-center" name="lesson" day="4" lesson="3"></th>
                <th class="text-center" name="lesson" day="5" lesson="3"></th>
                <th class="text-center" name="lesson" day="6" lesson="3"></th>

            </tr>
            <tr>
                <th class="text-center"> 11.20 - 12.05 </th>
                <th class="text-center" name="lesson" day="1" lesson="4"></th>
                <th class="text-center" name="lesson" day="2" lesson="4"></th>
                <th class="text-center" name="lesson" day="3" lesson="4"></th>
                <th class="text-center" name="lesson" day="4" lesson="4"></th>
                <th class="text-center" name="lesson" day="5" lesson="4"></th>
                <th class="text-center" name="lesson" day="6" lesson="4"></th>

            </tr>
            <tr>
                <th class="text-center"> 14.00 - 15.30 </th>
                <th class="text-center" name="lesson" day="1" lesson="5"></th>
                <th class="text-center" name="lesson" day="2" lesson="5"></th>
                <th class="text-center" name="lesson" day="3" lesson="5"></th>
                <th class="text-center" name="lesson" day="4" lesson="5"></th>
                <th class="text-center" name="lesson" day="5" lesson="5"></th>
                <th class="text-center" name="lesson" day="6" lesson="5"></th>

            </tr>
            <tr>
                <th class="text-center">15.40 - 17.10 </th>
                <th class="text-center" name="lesson" day="1" lesson="6"></th>
                <th class="text-center" name="lesson" day="2" lesson="6"></th>
                <th class="text-center" name="lesson" day="3" lesson="6"></th>
                <th class="text-center" name="lesson" day="4" lesson="6"></th>
                <th class="text-center" name="lesson" day="5" lesson="6"></th>
                <th class="text-center" name="lesson" day="6" lesson="6"></th>

            </tr>
            <tr>
                <th class="text-center"> 17.20 - 19.00 </th>
                <th class="text-center" name="lesson" day="1" lesson="7"></th>
                <th class="text-center" name="lesson" day="2" lesson="7"></th>
                <th class="text-center" name="lesson" day="3" lesson="7"></th>
                <th class="text-center" name="lesson" day="4" lesson="7"></th>
                <th class="text-center" name="lesson" day="5" lesson="7"></th>
                <th class="text-center" name="lesson" day="6" lesson="7"></th>
            </tr>*@
        </tbody>
    </table>
</body>
